<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.shadowsocks.core"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <application>

        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" />

        <service
            android:name="com.github.shadowsocks.bg.VpnService"
            android:directBootAware="true"
            android:exported="false"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:process=":bg">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <service
            android:name="com.github.shadowsocks.bg.TransproxyService"
            android:directBootAware="true"
            android:exported="false"
            android:process=":bg"></service>

        <service
            android:name="com.github.shadowsocks.bg.ProxyService"
            android:directBootAware="true"
            android:exported="false"
            android:process=":bg"></service>

        <activity
            android:name="com.github.shadowsocks.VpnRequestActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/Theme.AppCompat.Translucent" />

        <receiver
            android:name="com.github.shadowsocks.BootReceiver"
            android:directBootAware="true"
            android:enabled="false"
            android:process=":bg">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- https://android.googlesource.com/platform/frameworks/support/+/androidx-master-dev/work/workmanager/src/main/AndroidManifest.xml -->
        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            tools:node="remove" />

        <service
            android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"
            android:directBootAware="true"
            android:process=":bg"
            tools:replace="android:directBootAware" />
        <service
            android:name="androidx.work.impl.background.systemjob.SystemJobService"
            android:directBootAware="true"
            android:process=":bg"
            tools:replace="android:directBootAware" />

        <receiver
            android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"
            android:directBootAware="true"
            android:process=":bg"
            tools:replace="android:directBootAware" />
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy"
            android:directBootAware="true"
            android:process=":bg"
            tools:replace="android:directBootAware" />
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy"
            android:directBootAware="true"
            android:process=":bg"
            tools:replace="android:directBootAware" />
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy"
            android:directBootAware="true"
            android:process=":bg"
            tools:replace="android:directBootAware" />
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy"
            android:directBootAware="true"
            android:process=":bg"
            tools:replace="android:directBootAware" />
        <receiver
            android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver"
            android:directBootAware="true"
            android:process=":bg"
            tools:replace="android:directBootAware" />
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver"
            android:directBootAware="true"
            android:process=":bg"
            tools:replace="android:directBootAware" />
    </application>
</manifest>
